		body {
		font-family: Roboto, sans-serif;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100vh;
		margin: 0;
		background-color: #f0f0f0;
		padding-bottom: 40px;
	}

	img {
		display: block;
		margin: 0 auto;
		width: 20%;
	}

	.head {
		width: 75%;
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin-bottom: 10px;
	}

	h1 {
		text-align: center;
		margin-bottom: 10px;
	}

	#refresh-button {
		background-color: #000000; 
		color: white;
		font-weight: bold;
		font-size: 1.05em;
		border: none;
		text-align: center;
		padding: 15px 0;
		width: 100%;
		margin-top: 5px;
	}

	#refresh-button:hover {
		background-color: #404040;
	}
	
	#clear-button {
		background-color: #000000; 
		color: white;
		font-weight: bold;
		font-size: 1.05em;
		border: none;
		text-align: center;
		padding: 15px 0;
		width: 100%;
		margin-top: 5px;
	}

	#clear-button:hover {
		background-color: #404040; 
	}

	.container {
		display: flex;
		justify-content: space-between;
		background-color: #fff;
		padding: 20px 20px 100px;
		border-radius: 8px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
		width: 90%;
		max-height: 90vh;
		overflow-y: auto;
	}

	.left-column {
		width: 70%;
		padding-right: 20px;
		padding: 25px;
	}

	#checklist-container {
		display: flex;
		flex-direction: column;
		gap: 10px;
		margin-top: 20px;
	}

	button {
		display: block;
		width: 100%;
		margin-bottom: 8px;
		padding: 10px;
		font-size: 1em;
		cursor: pointer;
		border: none;
		text-align: left;
	}

	button.category, button.subcategory {
		background-color: #FFEC0F;
	}

	button.category:hover, button.subcategory:hover {
		background-color: #E5D90E;
	}

	button.option {
		background-color: #D3D3D3;
	}

	button.option.selected {
		background-color: #FFEC0F;
	}

	button.back-button {
		background-color: #D9534F;
		color: white;
	}

	button.back-button:hover {
		background-color: #C9302C;
	}

	.right-column {
		width: 40%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		padding-bottom: 5%;
	}

	#outputbox {
		width: 75%;
		height: 50%;
	}

	textarea {
		width: 98%;
		height: 100%;
		margin-top: 5px;
		font-size: 1.1em;
		resize: none;
	}

	#copy-button {
		background-color: #028702;
		color: white;
		font-weight: bold;
		font-size: 1.05em;
		border: none;
		text-align: center;
		padding: 15px 0;
	}

	#copy-button:hover {
		background-color: #039903;
	}

	#changelog-popup {
		display: none;
		position: fixed;
		z-index: 1000;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 40%;
		max-width: 600px;
		background-color: white;
		padding: 20px;
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
		border-radius: 8px;
	}

	.popup-content {
		position: relative;
		text-align: center;
	}
	
	.changelog-text {
		white-space: normal;
		text-align: left;
		overflow-y: auto;
		max-height: 60vh; /* Prevents excessive scrolling */
		padding: 10px;
		font-size: 14px;
	}

	.close-button {
		position: absolute;
		top: 10px;
		right: 15px;
		font-size: 24px;
		cursor: pointer;
		background: none;
		border: none;
	}

	.close-button:hover {
		color: red;
	}

	footer {
		text-align: center;
		font-size: 12px;
		color: darkgrey;
		bottom: 10px;
		width: 100%;
		margin-top: 10px;
	}